body{

background-color:#CAB6CD ;


}


h1,h2{

    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
    background-color: #CFBCDF;


}

p{
    background-color: #BA8F95;
}



#list{
    background-color: #897C80;
    font-size: larger;
    margin: auto;
    max-width: 50%;


}

#love{

    background-color:#CAB6CD ;
}


.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;


}
